<ion-header>
  <ion-navbar>
      <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only name="logout" (tap) = "signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome {{dname}}</h2>
  <ion-list>
    <ion-list-header>View and Edit your Tags here.</ion-list-header>
  </ion-list>
  <ion-item>
    <ion-label>Technology</ion-label>
    <ion-select [(ngModel)]="techSelect" multiple="true" (ionChange)="enable()">
      <ion-option *ngFor = "let item of tech" [value]="item.id">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label>Business</ion-label>
    <ion-select [(ngModel)]="lmSelect" multiple="true" (ionChange)="enable()">
      <ion-option *ngFor = "let item of lm" [value]="item.id">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button full *ngIf="flag" (click)="saveChanges()">Save Changes</button>

</ion-content>
